@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Raleway:500,800&subset=cyrillic);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, div, button, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, form, label, article, aside, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img, abbr {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1.2; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

input,
textarea,
button {
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

html, body {
  height: 100%; }

html {
  line-height: 1.15;
  font-size: 16px; }

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  overflow-x: hidden; }

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 80px white !important;
  color: #fff !important;
  -webkit-text-fill-color: #fff !important; }
